@model ConsentViewModel

@if (Model.ClientLogoUrl != null)
{
    <img src="@Model.ClientLogoUrl" />
}

<h1>
    @Model.ClientName
    <small>is requesting your permission</small>
</h1>

<p>Uncheck the permissions you do not wish to grant.</p>

<partial name="_ValidationSummary" />


<form asp-action="Index">
    <input type="hidden" asp-for="ReturnUrl" />

    @if (Model.IdentityScopes.Any())
    {
        <div>
            <h2>Personal Information</h2>
            <ul>
                @foreach (var scope in Model.IdentityScopes)
                {
                    <partial name="_ScopeListItem" model="@scope" />
                }
            </ul>
        </div>
    }
    
    @if (Model.ApiScopes.Any())
    {
        <div>
            <h2>Application Access</h2>
            <ul>
                @foreach (var scope in Model.ApiScopes)
                {
                    <partial name="_ScopeListItem" model="scope" />
                }
            </ul>
        </div>
    }
    
    <div>
        <h2>Description</h2>
        <div>
            <input placeholder="Description or name of device" asp-for="Description" autofocus>
        </div>
    </div>
    
    @if (Model.AllowRememberConsent)
    {
        <div>
            <input asp-for="RememberConsent">
            <label asp-for="RememberConsent">
                <strong>Remember My Decision</strong>
            </label>
        </div>
    }

    <div>
        <button name="button" value="yes" autofocus>Yes, Allow</button>
        <button name="button" value="no">No, Do Not Allow</button>
    </div>
    
    @if (Model.ClientUrl != null)
    {
        <div>
            <a href="@Model.ClientUrl">
                <strong>@Model.ClientName</strong>
            </a>
        </div>
    }
</form>
