@model DeviceAuthorizationViewModel

@if (Model.ClientLogoUrl != null)
{
    <div><img src="@Model.ClientLogoUrl"></div>
}

<h1>
    @Model.ClientName
    <small>is requesting your permission</small>
</h1>

@if (Model.ConfirmUserCode)
{
    <p>Please confirm that the authorization request quotes the code: <strong>@Model.UserCode</strong>.</p>
}
<p>Uncheck the permissions you do not wish to grant.</p>

<partial name="_ValidationSummary" />

<form asp-action="Callback">
    <input asp-for="UserCode" type="hidden" value="@Model.UserCode" />
   
    @if (Model.IdentityScopes.Any())
    {
        <h2>Personal Information</h2>
        <ul>
            @foreach (var scope in Model.IdentityScopes)
            {
                <partial name="_ScopeListItem" model="@scope" />
            }
        </ul>
    }
    
    @if (Model.ApiScopes.Any())
    {
        <h2>Application Access</h2>
        <ul>
            @foreach (var scope in Model.ApiScopes)
            {
                <partial name="_ScopeListItem" model="scope" />
            }
        </ul>
    }
    
    <h2>Description</h2>
    <input placeholder="Description or name of device" asp-for="Description" autofocus >

    @if (Model.AllowRememberConsent)
    {
        <div>
            <input asp-for="RememberConsent">
            <label asp-for="RememberConsent">
                <strong>Remember My Decision</strong>
            </label>
        </div>
    }

    <div>
        <button name="button" value="yes" autofocus>Yes, Allow</button>
        <button name="button" value="no">No, Do Not Allow</button>
    </div>
    @if (Model.ClientUrl != null)
    {
        <div>
            <a href="@Model.ClientUrl">
                <strong>@Model.ClientName</strong>
            </a>
        </div>
    }
</form>
