@model GrantsViewModel

<h1>Client Application Permissions</h1>
<p>Below is the list of applications you have given permission to and the resources they have access to.</p>

@if (Model.Grants.Any() == false)
{
    <div>
        You have not given access to any applications
    </div>
}
else
{
    foreach (var grant in Model.Grants)
    {
        <div>
            <div>
                @if (grant.ClientLogoUrl != null)
                {
                    <img src="@grant.ClientLogoUrl">
                }
                <strong>@grant.ClientName</strong>
            </div>
           
            <form asp-action="Revoke">
                <input type="hidden" name="clientId" value="@grant.ClientId">
                <button>Revoke Access</button>
            </form>
                
            <ul>
                @if (grant.Description != null)
                {
                    <li>
                        <label>Description:</label> @grant.Description
                    </li>   
                }
                <li>
                    <label>Created:</label> @grant.Created.ToString("yyyy-MM-dd")
                </li>
                @if (grant.Expires.HasValue)
                {
                    <li>
                        <label>Expires:</label> @grant.Expires.Value.ToString("yyyy-MM-dd")
                    </li>
                }
                @if (grant.IdentityGrantNames.Any())
                {
                    <li>
                        <label>Identity Grants</label>
                        <ul>
                            @foreach (var name in grant.IdentityGrantNames)
                            {
                                <li>@name</li>
                            }
                        </ul>
                    </li>
                }
                @if (grant.ApiGrantNames.Any())
                {
                    <li>
                        <label>API Grants</label>
                        <ul>
                            @foreach (var name in grant.ApiGrantNames)
                            {
                                <li>@name</li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </div>
    }
}